<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sistema de Transporte{% endblock %}</title>
        
        <link rel="icon" type="image/x-icon" href="{{ asset('bundles/transporte/default/images/muni.ico') }}" />
        
        {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/transporte/foundation/css/foundation.min.css') }}" />
        {% endblock %}
    </head>
    <body>
        
            {% block body %}{% endblock %}
        
        
        {% block javascripts %}
        <script type="text/javascript" language="javascript" src="{{ asset('bundles/transporte/default/js/jquery-2.1.1.min.js') }}"></script>
        <script type="text/javascript" language="javascript" src="{{ asset('bundles/transporte/foundation/js/foundation.min.js') }}"></script>
        <script>
            $(document).foundation();
        </script>
        {% endblock %}
    </body>
</html>
