/* 
    Created on : 20/02/2015, 08:30:59
    Author     : Ariel Feresini
    Informes y cargas de complementarias.
    MUNICIPALIDAD DE PARANA
*/
.header {
    background-color: #5F0000;
    text-align: center;    
    height: 120px;
    padding-top: 15px;    
}

.header a{
    color: #CCCCCC;
    font-family: Helvetica, Verdana, sans-serif;
}

.main-section {
    height: 580px;
}

.button-tab {
    margin-top: 2%;
    margin-bottom: 2%;
    background-color: #5F0000;
    color: #CCCCCC;
}

.username{
    text-align: right;
    color: #CCCCCC;
}

.fuente-pequeña{
    font-size: 12px;
}